// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.article-header {
    max-width: 800px !important;
    max-height: 100% !important;
}

.article-container {
    max-width: 850px;
}

body {
    text-align: justify;
}

.hero-lead {
    max-width: 768px;
    font-size: 1.25rem;
}

.hero-lead p {
    text-align: justify;
}

h1 {
    font-size: 1.65rem;
}